/* k1.CSS */
html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section{display:block}summary{display:list-item}
audio,canvas,progress,video{display:inline-block}progress{vertical-align:baseline}
audio:not([controls]){display:none;height:0}[hidden],template{display:none}
a{background-color:transparent}a:active,a:hover{outline-width:0}
abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}
b,strong{font-weight:bolder}dfn{font-style:italic}mark{background:#ff0;color:#000}
small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-0.25em}sup{top:-0.5em}figure{margin:1em 40px}img{border-style:none}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}hr{box-sizing:content-box;height:0;overflow:visible}
button,input,select,textarea,optgroup{font:inherit;margin:0}optgroup{font-weight:bold}
button,input{overflow:visible}button,select{text-transform:none}
button,[type=button],[type=reset],[type=submit]{-webkit-appearance:button}
button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}
button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{color:inherit;display:table;max-width:100%;padding:0;light-blue-space:normal}textarea{overflow:auto}
[type=checkbox],[type=radio]{padding:0}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}
[type=search]{-webkit-appearance:textfield;outline-offset:-2px}
[type=search]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
/* End extract */
html,body{font-family:Verdana,sans-serif;font-size:15px;line-height:1.5}html{overflow-x:hidden}
h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}
.k1-serif{font-family:serif}.k1-sans-serif{font-family:sans-serif}.k1-cursive{font-family:cursive}.k1-monospace{font-family:monospace}
h1,h2,h3,h4,h5,h6{font-family:"Segoe UI",Arial,sans-serif;font-weight:400;margin:10px 0}.k1-wide{letter-spacing:4px}
hr{border:0;border-top:1px solid #eee;margin:20px 0}
.k1-image{max-width:100%;height:auto}img{vertical-align:middle}a{color:inherit}
.k1-table,.k1-table-all{border-collapse:collapse;border-spacing:0;width:100%;display:table}.k1-table-all{border:1px solid #ccc}
.k1-bordered tr,.k1-table-all tr{border-bottom:1px solid #ddd}.k1-striped tbody tr:nth-child(even){background-color:#f1f1f1}
.k1-table-all tr:nth-child(odd){background-color:#fff}.k1-table-all tr:nth-child(even){background-color:#f1f1f1}
.k1-hoverable tbody tr:hover,.k1-ul.k1-hoverable li:hover{background-color:#ccc}.k1-centered tr th,.k1-centered tr td{text-align:center}
.k1-table td,.k1-table th,.k1-table-all td,.k1-table-all th{padding:8px 8px;display:table-cell;text-align:left;vertical-align:top}
.k1-table th:first-child,.k1-table td:first-child,.k1-table-all th:first-child,.k1-table-all td:first-child{padding-left:16px}
.k1-btn,.k1-button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.k1-btn:hover{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}
.k1-btn,.k1-button{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}   
.k1-disabled,.k1-btn:disabled,.k1-button:disabled{cursor:not-allowed;opacity:0.3}.k1-disabled *,:disabled *{pointer-events:none}
.k1-btn.k1-disabled:hover,.k1-btn:disabled:hover{box-shadow:none}
.k1-badge,.k1-tag{background-color:#000;color:#fff;display:inline-block;padding-left:8px;padding-right:8px;text-align:center}.k1-badge{border-radius:50%}
.k1-ul{list-style-type:none;padding:0;margin:0}.k1-ul li{padding:8px 16px;border-bottom:1px solid #ddd}.k1-ul li:last-child{border-bottom:none}
.k1-tooltip,.k1-display-container{position:relative}.k1-tooltip .k1-text{display:none}.k1-tooltip:hover .k1-text{display:inline-block}
.k1-ripple:active{opacity:0.5}.k1-ripple{transition:opacity 0s}
.k1-input{padding:8px;display:block;border:none;border-bottom:1px solid #ccc;width:100%}
.k1-select{padding:9px 0;width:100%;border:none;border-bottom:1px solid #ccc}
.k1-dropdown-click,.k1-dropdown-hover{position:relative;display:inline-block;cursor:pointer}
.k1-dropdown-hover:hover .k1-dropdown-content{display:block}
.k1-dropdown-hover:first-child,.k1-dropdown-click:hover{background-color:#ccc;color:#000}
.k1-dropdown-hover:hover > .k1-button:first-child,.k1-dropdown-click:hover > .k1-button:first-child{background-color:#ccc;color:#000}
.k1-dropdown-content{cursor:auto;color:#000;background-color:#fff;display:none;position:absolute;min-width:160px;margin:0;padding:0;z-index:1}
.k1-check,.k1-radio{width:24px;height:24px;position:relative;top:6px}
.k1-sidebar{height:100%;width:200px;background-color:#fff;position:fixed!important;z-index:1;overflow:auto}
.k1-bar-block .k1-dropdown-hover,.k1-bar-block .k1-dropdown-click{width:100%}
.k1-bar-block .k1-dropdown-hover .k1-dropdown-content,.k1-bar-block .k1-dropdown-click .k1-dropdown-content{min-width:100%}
.k1-bar-block .k1-dropdown-hover .k1-button,.k1-bar-block .k1-dropdown-click .k1-button{width:100%;text-align:left;padding:8px 16px}
.k1-main,#main{transition:margin-left .4s}
.k1-modal{z-index:3;display:none;padding-top:100px;position:fixed;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.4)}
.k1-modal-content{margin:auto;background-color:#fff;position:relative;padding:0;outline:0;width:600px}
.k1-bar{width:100%;overflow:hidden}.k1-center .k1-bar{display:inline-block;width:auto}
.k1-bar .k1-bar-item{padding:8px 16px;float:left;width:auto;border:none;display:block;outline:0}
.k1-bar .k1-dropdown-hover,.k1-bar .k1-dropdown-click{position:static;float:left}
.k1-bar .k1-button{white-space:normal}
.k1-bar-block .k1-bar-item{width:100%;display:block;padding:8px 16px;text-align:left;border:none;white-space:normal;float:none;outline:0}
.k1-bar-block.k1-center .k1-bar-item{text-align:center}.k1-block{display:block;width:100%}
.k1-responsive{display:block;overflow-x:auto}
.k1-container:after,.k1-container:before,.k1-panel:after,.k1-panel:before,.k1-row:after,.k1-row:before,.k1-row-padding:after,.k1-row-padding:before,
.k1-cell-row:before,.k1-cell-row:after,.k1-clear:after,.k1-clear:before,.k1-bar:before,.k1-bar:after{content:"";display:table;clear:both}
.k1-col,.k1-half,.k1-third,.k1-twothird,.k1-threequarter,.k1-quarter{float:left;width:100%}
.k1-col.s1{width:8.33333%}.k1-col.s2{width:16.66666%}.k1-col.s3{width:24.99999%}.k1-col.s4{width:33.33333%}
.k1-col.s5{width:41.66666%}.k1-col.s6{width:49.99999%}.k1-col.s7{width:58.33333%}.k1-col.s8{width:66.66666%}
.k1-col.s9{width:74.99999%}.k1-col.s10{width:83.33333%}.k1-col.s11{width:91.66666%}.k1-col.s12{width:99.99999%}
@media (min-width:601px){.k1-col.m1{width:8.33333%}.k1-col.m2{width:16.66666%}.k1-col.m3,.k1-quarter{width:24.99999%}.k1-col.m4,.k1-third{width:33.33333%}
.k1-col.m5{width:41.66666%}.k1-col.m6,.k1-half{width:49.99999%}.k1-col.m7{width:58.33333%}.k1-col.m8,.k1-twothird{width:66.66666%}
.k1-col.m9,.k1-threequarter{width:74.99999%}.k1-col.m10{width:83.33333%}.k1-col.m11{width:91.66666%}.k1-col.m12{width:99.99999%}}
@media (min-width:993px){.k1-col.l1{width:8.33333%}.k1-col.l2{width:16.66666%}.k1-col.l3{width:24.99999%}.k1-col.l4{width:33.33333%}
.k1-col.l5{width:41.66666%}.k1-col.l6{width:49.99999%}.k1-col.l7{width:58.33333%}.k1-col.l8{width:66.66666%}
.k1-col.l9{width:74.99999%}.k1-col.l10{width:83.33333%}.k1-col.l11{width:91.66666%}.k1-col.l12{width:99.99999%}}
.k1-rest{overflow:hidden}.k1-stretch{margin-left:-16px;margin-right:-16px}
.k1-content,.k1-auto{margin-left:auto;margin-right:auto}.k1-content{max-width:980px}.k1-auto{max-width:1140px}
.k1-cell-row{display:table;width:100%}.k1-cell{display:table-cell}
.k1-cell-top{vertical-align:top}.k1-cell-middle{vertical-align:middle}.k1-cell-bottom{vertical-align:bottom}
.k1-hide{display:none!important}.k1-show-block,.k1-show{display:block!important}.k1-show-inline-block{display:inline-block!important}
@media (max-width:1205px){.k1-auto{max-width:95%}}
@media (max-width:600px){.k1-modal-content{margin:0 10px;width:auto!important}.k1-modal{padding-top:30px}
.k1-dropdown-hover.k1-mobile .k1-dropdown-content,.k1-dropdown-click.k1-mobile .k1-dropdown-content{position:relative}	
.k1-hide-small{display:none!important}.k1-mobile{display:block;width:100%!important}.k1-bar-item.k1-mobile,.k1-dropdown-hover.k1-mobile,.k1-dropdown-click.k1-mobile{text-align:center}
.k1-dropdown-hover.k1-mobile,.k1-dropdown-hover.k1-mobile .k1-btn,.k1-dropdown-hover.k1-mobile .k1-button,.k1-dropdown-click.k1-mobile,.k1-dropdown-click.k1-mobile .k1-btn,.k1-dropdown-click.k1-mobile .k1-button{width:100%}}
@media (max-width:768px){.k1-modal-content{width:500px}.k1-modal{padding-top:50px}}
@media (min-width:993px){.k1-modal-content{width:900px}.k1-hide-large{display:none!important}.k1-sidebar.k1-collapse{display:block!important}}
@media (max-width:992px) and (min-width:601px){.k1-hide-medium{display:none!important}}
@media (max-width:992px){.k1-sidebar.k1-collapse{display:none}.k1-main{margin-left:0!important;margin-right:0!important}.k1-auto{max-width:100%}}
.k1-top,.k1-bottom{position:fixed;width:100%;z-index:1}.k1-top{top:0}.k1-bottom{bottom:0}
.k1-overlay{position:fixed;display:none;width:100%;height:100%;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,0.5);z-index:2}
.k1-display-topleft{position:absolute;left:0;top:0}.k1-display-topright{position:absolute;right:0;top:0}
.k1-display-bottomleft{position:absolute;left:0;bottom:0}.k1-display-bottomright{position:absolute;right:0;bottom:0}
.k1-display-middle{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)}
.k1-display-left{position:absolute;top:50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}
.k1-display-right{position:absolute;top:50%;right:0%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)}
.k1-display-topmiddle{position:absolute;left:50%;top:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.k1-display-bottommiddle{position:absolute;left:50%;bottom:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.k1-display-container:hover .k1-display-hover{display:block}.k1-display-container:hover span.k1-display-hover{display:inline-block}.k1-display-hover{display:none}
.k1-display-position{position:absolute}
.k1-circle{border-radius:50%}
.k1-round-small{border-radius:2px}.k1-round,.k1-round-medium{border-radius:4px}.k1-round-large{border-radius:8px}.k1-round-xlarge{border-radius:16px}.k1-round-xxlarge{border-radius:32px}
.k1-row-padding,.k1-row-padding>.k1-half,.k1-row-padding>.k1-third,.k1-row-padding>.k1-twothird,.k1-row-padding>.k1-threequarter,.k1-row-padding>.k1-quarter,.k1-row-padding>.k1-col{padding:0 8px}
.k1-container,.k1-panel{padding:0.01em 16px}.k1-panel{margin-top:16px;margin-bottom:16px}
.k1-code,.k1-codespan{font-family:Consolas,"courier new";font-size:16px}
.k1-code{width:auto;background-color:#fff;padding:8px 12px;border-left:4px solid #4CAF50;word-wrap:break-word}
.k1-codespan{color:crimson;background-color:#f1f1f1;padding-left:4px;padding-right:4px;font-size:110%}
.k1-card,.k1-card-2{box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)}
.k1-card-4,.k1-hover-shadow:hover{box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)}
.k1-spin{animation:k1-spin 2s infinite linear}@keyframes k1-spin{0%{transform:rotate(0deg)}100%{transform:rotate(359deg)}}
.k1-animate-fading{animation:fading 10s infinite}@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
.k1-animate-opacity{animation:opac 0.8s}@keyframes opac{from{opacity:0} to{opacity:1}}
.k1-animate-top{position:relative;animation:animatetop 0.4s}@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
.k1-animate-left{position:relative;animation:animateleft 0.4s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.k1-animate-right{position:relative;animation:animateright 0.4s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
.k1-animate-bottom{position:relative;animation:animatebottom 0.4s}@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}
.k1-animate-zoom {animation:animatezoom 0.6s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
.k1-animate-input{transition:width 0.4s ease-in-out}.k1-animate-input:focus{width:100%!important}
.k1-opacity,.k1-hover-opacity:hover{opacity:0.60}.k1-opacity-off,.k1-hover-opacity-off:hover{opacity:1}
.k1-opacity-max{opacity:0.25}.k1-opacity-min{opacity:0.75}
.k1-greyscale-max,.k1-grayscale-max,.k1-hover-greyscale:hover,.k1-hover-grayscale:hover{filter:grayscale(100%)}
.k1-greyscale,.k1-grayscale{filter:grayscale(75%)}.k1-greyscale-min,.k1-grayscale-min{filter:grayscale(50%)}
.k1-sepia{filter:sepia(75%)}.k1-sepia-max,.k1-hover-sepia:hover{filter:sepia(100%)}.k1-sepia-min{filter:sepia(50%)}
.k1-tiny{font-size:10px!important}.k1-small{font-size:12px!important}.k1-medium{font-size:15px!important}.k1-large{font-size:18px!important}
.k1-xlarge{font-size:24px!important}.k1-xxlarge{font-size:36px!important}.k1-xxxlarge{font-size:48px!important}.k1-jumbo{font-size:64px!important}
.k1-left-align{text-align:left!important}.k1-right-align{text-align:right!important}.k1-justify{text-align:justify!important}.k1-center{text-align:center!important}
.k1-border-0{border:0!important}.k1-border{border:1px solid #ccc!important}
.k1-border-top{border-top:1px solid #ccc!important}.k1-border-bottom{border-bottom:1px solid #ccc!important}
.k1-border-left{border-left:1px solid #ccc!important}.k1-border-right{border-right:1px solid #ccc!important}
.k1-topbar{border-top:6px solid #ccc!important}.k1-bottombar{border-bottom:6px solid #ccc!important}
.k1-leftbar{border-left:6px solid #ccc!important}.k1-rightbar{border-right:6px solid #ccc!important}
.k1-section,.k1-code{margin-top:16px!important;margin-bottom:16px!important}
.k1-margin{margin:16px!important}.k1-margin-top{margin-top:16px!important}.k1-margin-bottom{margin-bottom:16px!important}
.k1-margin-left{margin-left:16px!important}.k1-margin-right{margin-right:16px!important}
.k1-padding-small{padding:4px 8px!important}.k1-padding{padding:8px 16px!important}.k1-padding-large{padding:12px 24px!important}
.k1-padding-16{padding-top:16px!important;padding-bottom:16px!important}.k1-padding-24{padding-top:24px!important;padding-bottom:24px!important}
.k1-padding-32{padding-top:32px!important;padding-bottom:32px!important}.k1-padding-48{padding-top:48px!important;padding-bottom:48px!important}
.k1-padding-64{padding-top:64px!important;padding-bottom:64px!important}
.k1-padding-top-64{padding-top:64px!important}.k1-padding-top-48{padding-top:48px!important}
.k1-padding-top-32{padding-top:32px!important}.k1-padding-top-24{padding-top:24px!important}
.k1-left{float:left!important}.k1-right{float:right!important}
.k1-button:hover{color:#000!important;background-color:#ccc!important}
.k1-transparent,.k1-hover-none:hover{background-color:transparent!important}
.k1-hover-none:hover{box-shadow:none!important}
/* Colors */
.k1-amber,.k1-hover-amber:hover{color:#000!important;background-color:#ffc107!important}
.k1-aqua,.k1-hover-aqua:hover{color:#000!important;background-color:#00ffff!important}
.k1-blue,.k1-hover-blue:hover{color:#fff!important;background-color:#2196F3!important}
.k1-light-blue,.k1-hover-light-blue:hover{color:#000!important;background-color:#87CEEB!important}
.k1-brown,.k1-hover-brown:hover{color:#fff!important;background-color:#795548!important}
.k1-cyan,.k1-hover-cyan:hover{color:#000!important;background-color:#00bcd4!important}
.k1-blue-grey,.k1-hover-blue-grey:hover,.k1-blue-gray,.k1-hover-blue-gray:hover{color:#fff!important;background-color:#607d8b!important}
.k1-green,.k1-hover-green:hover{color:#fff!important;background-color:#4CAF50!important}
.k1-light-green,.k1-hover-light-green:hover{color:#000!important;background-color:#8bc34a!important}
.k1-indigo,.k1-hover-indigo:hover{color:#fff!important;background-color:#3f51b5!important}
.k1-khaki,.k1-hover-khaki:hover{color:#000!important;background-color:#f0e68c!important}
.k1-lime,.k1-hover-lime:hover{color:#000!important;background-color:#cddc39!important}
.k1-orange,.k1-hover-orange:hover{color:#000!important;background-color:#ff9800!important}
.k1-deep-orange,.k1-hover-deep-orange:hover{color:#fff!important;background-color:#ff5722!important}
.k1-pink,.k1-hover-pink:hover{color:#fff!important;background-color:#e91e63!important}
.k1-purple,.k1-hover-purple:hover{color:#fff!important;background-color:#9c27b0!important}
.k1-deep-purple,.k1-hover-deep-purple:hover{color:#fff!important;background-color:#673ab7!important}
.k1-red,.k1-hover-red:hover{color:#fff!important;background-color:#f44336!important}
.k1-sand,.k1-hover-sand:hover{color:#000!important;background-color:#fdf5e6!important}
.k1-teal,.k1-hover-teal:hover{color:#fff!important;background-color:#009688!important}
.k1-yellow,.k1-hover-yellow:hover{color:#000!important;background-color:#ffeb3b!important}
.k1-white,.k1-hover-white:hover{color:#000!important;background-color:#fff!important}
.k1-black,.k1-hover-black:hover{color:#fff!important;background-color:#000!important}
.k1-grey,.k1-hover-grey:hover,.k1-gray,.k1-hover-gray:hover{color:#000!important;background-color:#9e9e9e!important}
.k1-light-grey,.k1-hover-light-grey:hover,.k1-light-gray,.k1-hover-light-gray:hover{color:#000!important;background-color:#f1f1f1!important}
.k1-dark-grey,.k1-hover-dark-grey:hover,.k1-dark-gray,.k1-hover-dark-gray:hover{color:#fff!important;background-color:#616161!important}
.k1-pale-red,.k1-hover-pale-red:hover{color:#000!important;background-color:#ffdddd!important}
.k1-pale-green,.k1-hover-pale-green:hover{color:#000!important;background-color:#ddffdd!important}
.k1-pale-yellow,.k1-hover-pale-yellow:hover{color:#000!important;background-color:#ffffcc!important}
.k1-pale-blue,.k1-hover-pale-blue:hover{color:#000!important;background-color:#ddffff!important}
.k1-text-amber,.k1-hover-text-amber:hover{color:#ffc107!important}
.k1-text-aqua,.k1-hover-text-aqua:hover{color:#00ffff!important}
.k1-text-blue,.k1-hover-text-blue:hover{color:#2196F3!important}
.k1-text-light-blue,.k1-hover-text-light-blue:hover{color:#87CEEB!important}
.k1-text-brown,.k1-hover-text-brown:hover{color:#795548!important}
.k1-text-cyan,.k1-hover-text-cyan:hover{color:#00bcd4!important}
.k1-text-blue-grey,.k1-hover-text-blue-grey:hover,.k1-text-blue-gray,.k1-hover-text-blue-gray:hover{color:#607d8b!important}
.k1-text-green,.k1-hover-text-green:hover{color:#4CAF50!important}
.k1-text-light-green,.k1-hover-text-light-green:hover{color:#8bc34a!important}
.k1-text-indigo,.k1-hover-text-indigo:hover{color:#3f51b5!important}
.k1-text-khaki,.k1-hover-text-khaki:hover{color:#b4aa50!important}
.k1-text-lime,.k1-hover-text-lime:hover{color:#cddc39!important}
.k1-text-orange,.k1-hover-text-orange:hover{color:#ff9800!important}
.k1-text-deep-orange,.k1-hover-text-deep-orange:hover{color:#ff5722!important}
.k1-text-pink,.k1-hover-text-pink:hover{color:#e91e63!important}
.k1-text-purple,.k1-hover-text-purple:hover{color:#9c27b0!important}
.k1-text-deep-purple,.k1-hover-text-deep-purple:hover{color:#673ab7!important}
.k1-text-red,.k1-hover-text-red:hover{color:#f44336!important}
.k1-text-sand,.k1-hover-text-sand:hover{color:#fdf5e6!important}
.k1-text-teal,.k1-hover-text-teal:hover{color:#009688!important}
.k1-text-yellow,.k1-hover-text-yellow:hover{color:#d2be0e!important}
.k1-text-white,.k1-hover-text-white:hover{color:#fff!important}
.k1-text-black,.k1-hover-text-black:hover{color:#000!important}
.k1-text-grey,.k1-hover-text-grey:hover,.k1-text-gray,.k1-hover-text-gray:hover{color:#757575!important}
.k1-text-light-grey,.k1-hover-text-light-grey:hover,.k1-text-light-gray,.k1-hover-text-light-gray:hover{color:#f1f1f1!important}
.k1-text-dark-grey,.k1-hover-text-dark-grey:hover,.k1-text-dark-gray,.k1-hover-text-dark-gray:hover{color:#3a3a3a!important}
.k1-border-amber,.k1-hover-border-amber:hover{border-color:#ffc107!important}
.k1-border-aqua,.k1-hover-border-aqua:hover{border-color:#00ffff!important}
.k1-border-blue,.k1-hover-border-blue:hover{border-color:#2196F3!important}
.k1-border-light-blue,.k1-hover-border-light-blue:hover{border-color:#87CEEB!important}
.k1-border-brown,.k1-hover-border-brown:hover{border-color:#795548!important}
.k1-border-cyan,.k1-hover-border-cyan:hover{border-color:#00bcd4!important}
.k1-border-blue-grey,.k1-hover-border-blue-grey:hover,.k1-border-blue-gray,.k1-hover-border-blue-gray:hover{border-color:#607d8b!important}
.k1-border-green,.k1-hover-border-green:hover{border-color:#4CAF50!important}
.k1-border-light-green,.k1-hover-border-light-green:hover{border-color:#8bc34a!important}
.k1-border-indigo,.k1-hover-border-indigo:hover{border-color:#3f51b5!important}
.k1-border-khaki,.k1-hover-border-khaki:hover{border-color:#f0e68c!important}
.k1-border-lime,.k1-hover-border-lime:hover{border-color:#cddc39!important}
.k1-border-orange,.k1-hover-border-orange:hover{border-color:#ff9800!important}
.k1-border-deep-orange,.k1-hover-border-deep-orange:hover{border-color:#ff5722!important}
.k1-border-pink,.k1-hover-border-pink:hover{border-color:#e91e63!important}
.k1-border-purple,.k1-hover-border-purple:hover{border-color:#9c27b0!important}
.k1-border-deep-purple,.k1-hover-border-deep-purple:hover{border-color:#673ab7!important}
.k1-border-red,.k1-hover-border-red:hover{border-color:#f44336!important}
.k1-border-sand,.k1-hover-border-sand:hover{border-color:#fdf5e6!important}
.k1-border-teal,.k1-hover-border-teal:hover{border-color:#009688!important}
.k1-border-yellow,.k1-hover-border-yellow:hover{border-color:#ffeb3b!important}
.k1-border-white,.k1-hover-border-white:hover{border-color:#fff!important}
.k1-border-black,.k1-hover-border-black:hover{border-color:#000!important}
.k1-border-grey,.k1-hover-border-grey:hover,.k1-border-gray,.k1-hover-border-gray:hover{border-color:#9e9e9e!important}
.k1-border-light-grey,.k1-hover-border-light-grey:hover,.k1-border-light-gray,.k1-hover-border-light-gray:hover{border-color:#f1f1f1!important}
.k1-border-dark-grey,.k1-hover-border-dark-grey:hover,.k1-border-dark-gray,.k1-hover-border-dark-gray:hover{border-color:#616161!important}
.k1-border-pale-red,.k1-hover-border-pale-red:hover{border-color:#ffe7e7!important}.k1-border-pale-green,.k1-hover-border-pale-green:hover{border-color:#e7ffe7!important}
.k1-border-pale-yellow,.k1-hover-border-pale-yellow:hover{border-color:#ffffcc!important}.k1-border-pale-blue,.k1-hover-border-pale-blue:hover{border-color:#e7ffff!important}
